.color-candidate {
  height: 72vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hue-candidate {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.action-button {
  width: 100%;
  height: 14vh;
  text-align: center;
  padding: 9px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 12px;
  color: white;
  cursor: pointer;
  transition: background-color .3s ease;
}

.danger {
  background-color: #d35452;
}

.danger:hover {
  background-color: #d86b69;
}

.success {
  background-color: #04a34a;
}

.success:hover {
  background-color: #05c257;
}

.info {
  background-color: #7fdbff;
}

.info:hover {
  background-color: #9ee4ff;
}

.disabled {
  background-color: #cccccc !important;
}

.disabled:hover {
  background-color: #dddddd !important;
}

.padding-0{
  padding-right:0;
  padding-left:0;
}

.sample-image {
  max-width: 100%;
}
